build/
dist/
mltrain.egg-info/
.idea/
*DS_store
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

paper/draft.aux

paper/draft.bbl

paper/draft.blg

paper/draft.log

paper/draft.out

paper/draft.synctex.gz

paper/rsc.bib

paper/rsc.bst

paper/SI-blx.bib

paper/SI.aux

paper/SI.bbl

paper/SI.blg

paper/SI.log

paper/SI.out

paper/SI.run.xml

paper/SI.synctex.gz

paper/SI.toc
