build/
dist/
mltrain.egg-info/
.idea/
*DS_store
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

paper/draft.aux

paper/draft.bbl

paper/draft.blg

paper/draft.log

paper/draft.out

paper/draft.synctex.gz

paper/rsc.bib

paper/rsc.bst
