# Usage: mamba env create -n myenvname -f environment.yml
---
name: mlptrain
channels:
  - conda-forge
dependencies:
  - python=3.9
  - pip
  - pre-commit
  - ase
  - autode=1.1
  - coloredlogs
  - cython
  - dscribe=2.0
  - matplotlib-base
  - numpy
  - pytest=8
  - pytest-cov=5
  - py-plumed
  - scipy
  - xtb
  - scikit-learn
  - pip:
    - quippy-ase # GAP
    - ase@git+https://gitlab.com/ase/ase.git@f2615a6e9a # For PLUMED
