# Usage: mamba env create -n myenvname -f environment_ace.yml
---
name: mlptrain-ace
channels:
  - conda-forge
dependencies:
  - python=3.9
  - pip
  - pre-commit
  - ase
  - autode=1.4.4
  - coloredlogs
  - cython
  - dscribe=2.0
  - matplotlib-base
  - numpy<2
  - pytest=8
  - pytest-cov=5
  - py-plumed
  - scipy
  - xtb
  - scikit-learn
  - pip:
    - julia   # Python-Julia integration (this will not install Julia itself!)
    - pyjulip@git+https://github.com/casv2/pyjulip.git@72280a6ac3 # Integration with ACE
    - ase@git+https://gitlab.com/ase/ase.git@f2615a6e9a # For PLUMED
