# Usage: mamba env create -n myenvname -f environment_mace.yml
---
name: mlptrain-mace
channels:
  - conda-forge
  - pytorch
dependencies:
  - python=3.9
  - pip
  - pre-commit
  - ase
  - autode=1.1
  - coloredlogs
  - cython
  - dscribe=2.0
  - matplotlib-base
  - numpy
  - pytest
  - py-plumed
  - scipy
  - xtb
  - scikit-learn
  - openmm
  - openmm-torch
  - nnpops
  # MACE dependencies
  - pytorch=2.0
  - torchvision
  - torchaudio
  - torch-ema
  # TODO: You might also need CUDA-specific libraries,
  # but that depends on CUDA version
  # https://pytorch.org/get-started/locally/
  # - pytorch-cuda=11.8
  # - pytorch-cuda=12.1
  - pip:
    - mace-torch
    - openmmml@git+https://github.com/openmm/openmm-ml.git@main
    - ase@git+https://gitlab.com/ase/ase.git@f2615a6e9a # For PLUMED
