---
name: pytest

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: GAP (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.9"]
      
    defaults:
      run:
        shell: bash -l {0}
        
    steps:
    - uses: actions/checkout@v4
        
    - uses: mamba-org/setup-micromamba@v1
      with:
        # the create command looks like this:
        # `micromamba create -n test-env python=3.9 -f environment.yml`
        environment-file: environment.yml
        environment-name: gha-test-env
        cache-environment: true
        create-args: >-
          python=${{ matrix.python-version }}

    - name: Basic install
      run: ./install_gap.sh

    - name: Test basic install
      run: pytest -v --cov --cov-report=xml && ls * mlptrain/*

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      with:
          flags: python-${{ matrix.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: duartegroup/mlp-train


  test-mace:
    name: MACE (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.9"]
      
    defaults:
      run:
        shell: bash -l {0}
        
    steps:
    - uses: actions/checkout@v4
        
    - uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: environment_mace.yml
        environment-name: gha-test-env
        cache-environment: true
        create-args: >-
          python=${{ matrix.python-version }}

    - name: MACE install
      run: ./install_mace.sh

    - name: Test MACE install
      run: pytest --cov
