---
name: Test with pytest

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    name: Env (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.9"]
      
    defaults:
      run:
        shell: bash -l {0}
        
    steps:
    - uses: actions/checkout@v4
        
    - uses: mamba-org/setup-micromamba@v1
      with:
        # the create command looks like this:
        # `micromamba create -n test-env python=3.9`
        environment-name: test-env
        cache-environment: true
        create-args: >-
          python=${{ matrix.python-version }}

    - name: Basic install
      run: ./install.sh

    - name: Test basic install
      run: pytest

    - name: MACE install
      run: cd scripts && ./install_mace.sh
